/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    /* --- Colors --- */
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --primary-color: #14213d;
    --primary-color-light: #ebebeb;
    --toggle-color: #14213d;
    --text-color: #000000;
    /* --- Transition --- */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #695CFE;
    --primary-color-light: #3A3B3C;
    --toggle-color: #CCC;
    --text-color: #CCC;
}
@keyframes menu-toggle-size {
    0% {transform: scale(1); opacity: 1;}
    70% {transform: scale(2); opacity: 0.5;}
}
@keyframes menu-toggle-rotation {
    0% {transform: rotate(0deg);}
    43% {transform: rotate(45deg);}
    68% {transform: rotate(-45deg);}
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
/* --- Entire navigation bar --- */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--sidebar-color);
    padding: 6px 14px;
    z-index: 99;
    transition: var(--tran-05);
}
.sidebar.open {
    width: 250px;
}
/* --- Logo/Name/Menu button --- */
.sidebar header {
    position: relative;
    padding-top: 5px;
    padding-bottom: 15px;
}
.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
    transition: var(--tran-03);
}
/* --- Logo --- */
.sidebar .logo-details .logo-div {
    background: var(--primary-color);
    height: 40px;
    width: 40px;
    transform: translateX(5px);
    border-radius: 50%;
}
.sidebar .logo-details .logo {
    transition: var(--tran-03);
    color: white;
    font-size: 22px;
    transform: translateX(-4px) translateY(-5px);
}
/* --- Name --- */
.sidebar .logo-details .logo_name {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: var(--tran-03);
    padding-left: 15px;
}
/* --- Menu arrow --- */
.sidebar header .toggle {
    transform: rotate(0deg);
    color: white;
    font-size: 22px;
    position: relative;
}
.sidebar header .menu-toggle {
    position: absolute;
    top: 30%;
    right: -25px;
    height: 22px;
    width: 22px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: var(--tran-05);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar header .menu-toggle.burst {
    animation: menu-toggle-size 1.4s ease infinite, 
                    menu-toggle-rotation 1.4s ease infinite;
}
.sidebar.open .toggle {
    transform: rotate(180deg);
    transition: var(--tran-05);
}
/* --- Search icon --- */
.sidebar .bx-search {
    position: absolute;
    left: 0;
    font-size: 22px;
    background: transparent;
    color: var(--text-color);
    transition: var(--tran-05);
    z-index: 99;
}
/* --- Search box --- */
.sidebar .search-box {
    border-radius: 12px;
    transition: var(--tran-05);
    background: var(--primary-color-light);
    cursor: pointer;
}
.sidebar .search-box:hover {
    background: var(--primary-color);
}
.sidebar .search-box:hover input,
.sidebar .search-box:hover .bx-search {
    color: white;
    transition: var(--tran-05);
}
.sidebar.open .search-box {
    padding: 0 20px 0 45px;
    width: 100%;
}
.sidebar input {
    font-size: 15px;
    color: var(--text-color);
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    border: none;
    background: transparent;
    padding-left: 5px;
    opacity: 0;
    transition: var(--tran-02);
}
.sidebar.open input {
    opacity: 1;
    transition: all 1.4s ease;
}
/* --- Sidebar menu items --- */
.sidebar .nav-list {
    min-height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar li {
    position: relative;
    margin: 2px 0;
    list-style: none;
}
/* --- Icons --- */
.sidebar i {
    color: var(--text-color);
    height: 50px;
    min-width: 50px;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    border-radius: 12px;
    transition: var(--tran-05);
}
/* --- Sidebar links --- */
.sidebar li a {
    display: flex;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    background: transparent;
}
.sidebar li .dropdown .selector {
    width: 200px;
    display: flex;
}
.sidebar li a .link_text {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: var(--tran-03);
}
.sidebar.open li a .link_text {
    opacity: 1;
    pointer-events: auto;
}
.sidebar .nav-list li:hover,
.sidebar .nav-list li .item:hover,
.sidebar .nav-list li.showMenu {
    background: var(--primary-color);
    transition: background 0.3s ease;
    border-radius: 12px;
}
.sidebar .nav-list li .item:hover a .link_text,
.sidebar .nav-list li.showMenu a .link_text,
.sidebar .nav-list li.showMenu i,
.sidebar .nav-list li .item:hover i,
.sidebar .nav-list li:hover a .link_text,
.sidebar .nav-list li:hover i {
    transition: var(--tran-05);
    color: white;
}
/* --- Sub Menus --- */
.sidebar .dropdown {
    display: flex;
}
.sidebar .nav-list li .sub-menu {
    padding: 0 6px 0 50px;
    margin-top: -10px;
    background: var(--primary-color);
    border-radius: 12px;
    display: none;
}
.sidebar .nav-list li.showMenu .sub-menu {
    display: block; 
}
.sidebar .nav-list li .sub-menu a {
    color: white;
    font-size: 13px;
    padding: 5px 0;
}
.sidebar .nav-list li .dropdown .arrow {
    opacity: 0;
    transition: var(--tran-02);
    position: absolute;
    left: 80px;
}
.sidebar.open .nav-list li .dropdown .arrow {
    opacity: 1;
    transition: var(--tran-05);
    position: absolute;
    left: 180px;
    cursor: pointer;
    transform: rotate(0deg);
}
.sidebar.open .nav-list li.showMenu .dropdown .arrow {
    transform: rotate( 180deg);
    transition: var(--tran-05);
}
/* --- Tooltips --- */
.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}
.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: var(--tran-04);
    top: 50%;
    transform: translateY(-50%);
}
.sidebar.open li .tooltip {
    display: none;
}
/* --- Dark Mode Section --- */
.sidebar .mode {
    background: var(--primary-color-light);
    position: fixed;
    bottom: 70px;
    display: flex;
    align-items: center;
    transition: var(--tran-05);
    border-radius: 12px;
    width: 50px;
}
.sidebar.open .mode {
    width: 220px;
}
.sidebar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: var(--tran-05);
}
.sidebar .mode .mode-text {
    color: var(--text-color);
    opacity: 0;
    transition: var(--tran-02);
}
.sidebar.open .mode .moon-sun,
.sidebar.open .mode .mode-text {
    opacity: 1;
    transition: all 1.2s ease;
}
/* --- Dark Mode Icons --- */
.sidebar.open .mode i {
    position: absolute;
}
.sidebar.open .mode i.sun {
    opacity: 0;
}
/* --- Dark Mode Toggle Switch --- */
.sidebar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50px;
    cursor: pointer;
    transition: var(--tran-05);
}
.sidebar.open .mode .toggle-switch {
    right: 5px;
    transition: var(--tran-05);
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-03);
}
.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}
/* --- [Dark] Toggle Switch --- */
body.dark .switch::before {
    left: 21px;
}
/* --- Profile section --- */
.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -2px;
    padding: 10px 14px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    overflow: hidden;
}
.sidebar.open li.profile {
    width: 250px;
}
.sidebar li .profile-details {
    display: flex;
    flex-wrap: nowrap;
}
/* --- Profile Image --- */
/* ------------------------------------------- */
/* .sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}  */
/* -------------------------------------------- */

/* --- Profile image --- */
.sidebar li.profile #profile-pic {
    color: var(--text-color);
    min-width: 50px;
    font-size: 35px;
    transform: translateX(-10%);
    border-radius: 12px;
    padding-bottom: 10px;
    opacity: 0;
    line-height: 40px;
    transition: var(--tran-05);
}
.sidebar.open li.profile #profile-pic {
    opacity: 1;
    transition: var(--tran-05);
}
/* --- Profile Name/Job --- */
.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    white-space: nowrap;
    opacity: 0;
    transition: var(--tran-05);
}
.sidebar.open li.profile .name,
.sidebar.open li.profile .job {
    opacity: 1;
    transition: var(--tran-05);
}
.sidebar li.profile .job {
    font-size: 12px;
}
/* --- Logout icon --- */
.sidebar .profile #log_out {
    position: absolute;
    bottom: 0%;
    right: 0;
    background: transparent;
    width: 100%;
    line-height: 40px;
    font-size: 25px;
    border-radius: 0px;
    transition: var(--tran-05);
}
.sidebar.open .profile #log_out {
    width: 50px;
}
/* --- Main page content --- */
.home-section {
    position: relative;
    background: var(--body-color);
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: var(--tran-05);
    z-index: 2;
}
.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}
.home-section .text {
    display: inline-block;
    color: var(--text-color);
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}